*{
	background-color: black;
}
a{
	font-size: 25px;
	font-family: arial black;
	color: darkblue;
}
h1{
	font-size: 30px;
	font-family: arial black;
	color: fuchsia;
	text-align: center;
}
.p1{
	font-size: 20px;
	font-family: arial black;
	color: blue;
}
.p2{
	font-size: 20px;
	font-family: arial black;
	color: yellow;
}
.p3{
	font-size: 20px;
	font-family: arial black;
	color: deeppink;
}
.p4{
	font-size: 20px;
	font-family: arial black;
	color: mediumvioletred;
}
.p5{
	font-size: 20px;
	font-family: arial black;
	color: orchid;
}
.p6{
	font-size: 20px;
	font-family: arial black;
	color: turquoise;
}
.p7{
	font-size: 20px;
	font-family: arial black;
	color: mediumspringgreen;
}
h2{
	font-size: 30px;
	font-family: arial black;
	color: fuchsia;
	text-align: center;
}
.p8{
	font-size: 20px;
	font-family: arial black;
	color: hotpink;
}
.p9{
	font-size: 20px;
	font-family: arial black;
	color: deeppink;
}
.p10{
	font-size: 20px;
	font-family: arial black;
	color: lawngreen;
}
.p11{
	font-size: 20px;
	font-family: arial black;
	color: dodgerblue;
}
.p12{
	font-size: 20px;
	font-family: arial black;
	color: steelblue;
}
.p13{
	font-size: 20px;
	font-family: arial black;
	color: lightpink;
}
.p14{
	font-size: 20px;
	font-family: arial black;
	color: gold;
}
.p15{
	font-size: 20px;
	font-family: arial black;
	color: deepskyblue;
}
.p16{
	font-size: 20px;
	font-family: arial black;
	color: mediumseagreen;
}
.p17{
	font-size: 20px;
	font-family: arial black;
	color: orangered;
}
.p18{
	font-size: 20px;
	font-family: arial black;
	color: pink;
}
.p19{
	font-size: 20px;
	font-family: arial black;
	color: yellow;
}